extends ./home-layout
block content
	#ELJimador
		.container
			.row
				.col-xs-6.col-sm-6.col-md-4.intro
					h1	Origen de nuestro <span> Nombre </span>
					//- h2	Nuestra <span> Inspiracion </span>
					p.book.text-center Jimador es el nombre que reciben nuestros maestros recolectores de la planta de agave azul, de la cual se producen nuestros tequilas. El Jimador representa el trabajo, el espíritu y el orgullo que distingue a nuestra familia de tequilas, por eso lo honramos poniendo su nombre en nuestra etiqueta, reconociendo el esfuerzo, la pasión y el amor puesto en cada botella de tequila el Jimador. Una pasión que nos convierte en el tequila preferido por personas de todo el mundo que redescubren en cada botella de El Jimador más de 150 años de historia.
					h3.chinese Bébelo, Vívelo, Compártelo
					p.book.text-center Siempre con entusiasmo. Siempre con responsabilidad.
					img.cienagave(src="images/eljimador/cienagave.png")
					//- p.book.text-center  El Jimador es producido en la legendaria hacienda San José del Refugio, más conocida como Casa Herradura, situada en el corazón de Jalisco. Un lugar donde cada gota de tequila está hecha 100% de agave azul, lo que significa máxima pureza en su elaboración 100% natural, sin aditivos ni endulzantes. El resultado es el mejor tequila para disfrutar sin culpas.
					img.agave1(src="images/eljimador/agave1.jpg")
				.col-xs-6.col-sm-6.col-md-4.middle
					img.flor(src="images/eljimador/flor.jpg")
					img.mascara(src="images/eljimador/mascara.png")
					p.book.text-center  El Jimador es producido en la legendaria hacienda San José del Refugio, más conocida como Casa Herradura, situada en el corazón de Jalisco. Un lugar donde cada gota de tequila está hecha 100% de agave azul, lo que significa máxima pureza en su elaboración 100% natural, sin aditivos ni endulzantes. El resultado es el mejor tequila para disfrutar sin culpas.
					//- h3.chinese.text-center Conoce nuestros tequilas y deliciosas bebidas
					//- h4.book.bolder.text-center ¿Por que esperar una ocasión especial para celebrar con un gran tequila?
					//- p.book.text-center Haz de cada ocasión algo especial con una botella de tequila de la familia de productos El Jimador.
				.col-xs-6.col-sm-6.col-md-4.master
					img(src="images/eljimador/master2.png")

