extends ./home-layout
block content
	.container(id="historia")
		.row
			.col-md-8
				.row
					.padding-10
						img.hidden-xs(src="images/historia/barriles.png")
						img.visible-xs-12.hidden-sm.hidden-md.hidden-lg(src="images/historia/barriles_sm.jpg")
				.row
					.col-xs-6.col-sm-5.col-md-6
						img(src="images/historia/vasos.png")
					.col-xs-6.col-sm-6.col-md-6
						img.master(src="images/historia/artesano.png")
			.col-md-4
				.title
					h2 Parte de la
					h1.pink Historia
				p.book.text-center El tequila es un destilado de origen mexicano, específicamente del municipio de Tequila en el estado de Jalisco, es elaborado a partir de la fermentación y destilado del jugo extraído de la planta de agave, en particular del <strong>agave azul</strong> (Agave tequilana)
				p.book.text-center El tequila es la bebida más conocida y representativa de México en el mundo.Su pureza consiste en estar hecho completamente a partir del agave. Cuando un tequila no señala en su etiqueta que es <strong>100% de agave</strong> entonces es un tequila mixto, esto significa que una proporción del azúcar obtenida del agave se mezcló con otros azúcares durante su elaboración. Por muchos años existió una norma que permitía que los tequilas tuvieran un mínimo de 51% de agave y un máximo de 49% de otros azúcares. Actualmente la norma exige que un tequila debe estar producido con un mínimo de 60% agave. En los tequilas mixtos, el agave se mezcla con jarabe de maíz o de caña de azúcar.
				p.book.text-center El nombre "tequila" es una denominación de origen controlado, reconocido internacionalmente, y que designa el destilado de agave elaborado en determinadas regiones de México,, específicamente en las localidades de Tequila y Amatitán, Arandas, Atotonilco el Alto, Nayarit e Ixtlán del Río y en determinadas zonas en Guanajuato, Michoacán y Tamaulipas.
				img(src="images/historia/iconos.png")

 


