extends ./home-layout
block content
	.container(id="redescubre")
		.row
			.col-md-6.col-md-offset-3
				img(src="images/redescubre/titulo.png")
				p.white.book.text-center.title-text Te invitamos a redescubrir el tequila con El Jimador, 100% agave, que lo convierte en un tequila Premium gracias a su máxima pureza. Redescubre un mundo de exquisitas preparaciones según la ocasión del día.
				h3.phrase.chinese.white Redescubre el tequila. redescúbrete.
				p.phrase.white.book.margin-left-40.text-center Vívelo y disfrútalo siempre con responsabilidad
				.divider
					img(src="images/redescubre/divider.png")
			.col-md-3
		.tragos
			.row
				.col-md-6
					img(src="images/redescubre/guadalupe2.png")
				.col-md-6
					img(src="images/redescubre/paloma2.png")
			.row
				.col-md-12.divider-lg
					img(src="images/redescubre/divider-lg.png")
			.row
				.col-md-6
					img(src="images/redescubre/marchelita2.png")
				.col-md-6
					img(src="images/redescubre/submarino2.png")

