div.container
  .row
    .col.col-md-5(ui-sref="login")
      .redescubre-logo
    .col.col-md-2
      .logo
        img(src="images/logo_jimador.png" ui-sref="login")
    .col.col-md-5
      a.fb-link( href="https://www.facebook.com/elJimadorChile" target="_system")
        .fb-logo
  .row.p-t-150
    h3.book.uppercased.white.text-center Política de Vinculación
    section#linking-policy.grey-wrap
        .container
            .col-md-10.col-md-offset-1
              p
                | SI TIENE, O PLANEA TENER, UN SITIO WEB Y DESEA VINCULARLO A NUESTRO SITIO WEB, FIRME ESTE ACUERDO DE VINCULACIÓN Y PROPORCIONE SUS DATOS A CONTINUACIÓN.
              p
                | Este acuerdo regula el permiso limitado que concede la "Marca" para establecer un hipervínculo entre un sitio web del usuario y el sitio web de la "Marca" ("Sitio"). La "Marca" es la marca Brown-Forman Corporation que figura en el Sitio. Al crear un hipervínculo entre su sitio web y el Sitio, acepta quedar sujeto a los términos de este Acuerdo. Por lo tanto, si está dispuesto a aceptar los siguientes requisitos (y enviar la información que se requiere más abajo), podrá vincularse a nuestro sitio:
              ul
                li
                  | A. Este Acuerdo se aplica únicamente al Sitio.
                | &#x9;
                li
                  | B. Puede vincularse usando sólo hipervínculos de texto estándares, como los que se muestran más arriba. No podrá vincularse usando ninguna marca comercial, marca de servicio, logotipo u otras imágenes, nombres de marca o íconos propietarios ni ninguna otra propiedad intelectual de la Marca, ni en el Sitio ni en ningún código fuente de sitio web (como en metaetiquetas), y en el presente documento no se otorga derecho alguno para hacerlo.
                | &#x9;
                li
                  | C. Se compromete a que cada sitio en el que aparezca el vínculo cumpla y respete las siguientes pautas:
              p
                | 1. Cada sitio deberá comercializar sus productos a adultos únicamente y deberá tener datos demográficos auditados de forma independiente que indiquen que al menos el 70% de los visitantes del sitio tienen edad suficiente, según la ley, para consumir bebidas alcohólicas. La edad en que una persona es considerada un "adulto" variará en los diferentes países. Cuando un país haya adoptado una "edad mínima para consumir bebidas alcohólicas" o una "edad mínima para comprar bebidas alcohólicas", entonces esos requisitos legales definirán qué es un "adulto" a los fines de este Acuerdo.
              p
                | 2. Cada sitio deberá cumplir con las leyes, códigos y regulaciones de la industria local, incluida cualquier limitación o restricción impuesta por los gobiernos de los mercados en los que se comercializan o venden nuestros productos.
              p
                | 3. Ningún sitio podrá usar simbología religiosa o cultural de cualquier tipo que pueda ofender a algún grupo religioso o étnico en particular.
              p
                | 4. Ningún sitio podrá aplicar vocabulario, situaciones o representaciones sexuales, ni explotar el cuerpo humano de alguna forma que pueda ofender los estándares locales de decencia.
              p
                | 5. Con respecto a la promoción y uso de bebidas alcohólicas, ninguno de los sitios en los que aparezca el vínculo podrá violar ni incluir ningún contenido prohibido por el Código de Prácticas Responsables para la Comercialización y Publicidad de Bebidas Alcohólicas del Consejo de Bebidas Alcohólicas Destiladas de Estados Unidos (DISCUS), disponible en
                a(href='http://www.discus.org/responsibility/code/', target='_blank') www.discus.org/industry/code/code.htm
              p
                | 6. Se compromete a no usar el vínculo en ningún sitio web que desacredite la Marca, el Sitio o los productos o servicios de la Marca, o que infrinja el derecho de propiedad intelectual o cualquier otro derecho de la Marca, Brown-Forman Corporation o sus afiliadas.
              p
                | 7. También se compromete a no usar el vínculo en ningún sitio web que contenga o se vincule a cualquier otro sitio web que incluya material pornográfico, político, ofensivo, discriminatorio u obsceno de cualquier tipo.
              p
                | 8. No podrá crear marcos para nuestras páginas web ni usar otras técnicas que alteren de alguna manera la presentación visual o apariencia de nuestros Sitios.
              p
                | 9. Sólo podrá vincularse a la página de inicio de cada uno de los Sitios de la Marca y no podrá omitir las páginas web que requieran que los visitantes de nuestros Sitios verifiquen su edad.
              p
                | 10. Sólo podrá vincularse a la página de inicio de cada uno de los Sitios de la Marca y no podrá omitir las páginas web que requieran que los visitantes de nuestros Sitios verifiquen su edad.
              p
                | 11. Se compromete a indemnizar y eximir de responsabilidad a los dueños de la Marca y a sus afiliadas ("Marca y Afiliadas") por y en contra de cualquier demanda por daños u otras demandas, impuestas hacia la Marca y Afiliadas, incluidas, entre otras, todas las demandas por responsabilidad indirecta, daños consecuentes, pérdidas, obligaciones, costos y expensas (incluidos, entre otros, los honorarios de abogados razonables) que surjan de la vinculación de su sitio web con el Sitio.
              p
                | 12. La Marca se reserva el derecho de dar por finalizado este Acuerdo y de buscar los recursos adecuados contra cualquier acción de parte suya que no esté de acuerdo con estos términos y condiciones.
              p
                | 13. Acepta que ha firmado este Acuerdo respondiendo a su propia voluntad y que no cuestionará la validez de este Acuerdo o de sus efectos vinculantes o aplicabilidad.
              p
                | 14. Inmediatamente luego de finalizado este Acuerdo, deberá quitar el vínculo de sus sitios web.
              p
                | 15. • Este Acuerdo no puede ser modificado, excepto que se deje constancia por escrito y ambas partes la firmen. Este Acuerdo está sujeto a las leyes sustantivas de la Commonwealth of Kentucky y las cortes federales y estatales allí residentes, y usted acepta estar sujeto a la jurisdicción personal de la Commonwealth of Kentucky, Jefferson County, y la corte federal de Louisville, Kentucky, con respecto a este Acuerdo. Ninguna renuncia a ningún derecho o acción por cualquiera de las partes será considerada una renuncia a cualquier otro derecho o acción o una renuncia continua del derecho o acción.
              |         
              |         
              span.double-border
          form#contact-us-form.standard-form(name='registerForm', novalidate='novalidate' ng-submit="register(d, registerForm)")     
            .container
              .col-md-6.col-md-offset-3
                h3.align-left Información de Registro
                |           
                p
                  | Acepto todos los términos y condiciones citados anteriormente y proporcionar al sitio la siguiente información.* 
                  span.required(aria-required='true') *
              .col-md-6.col-md-offset-3
                label.thirds.si(for='agree-to-terms-yes')
                  input#agree-to-terms-yes.required(type='radio', name='agreement', value='yes', aria-required='true' ng-model="d.agree" required)
                  | Si
                |          
                label.thirds.no(for='agree-to-terms-no')
                  input#agree-to-terms-no.required(type='radio', name='agreement', value='no', aria-required='true' ng-model="d.agree")
                  | No
            .container
              .col-md-3.col-md-offset-3
                label(for='first-name')
                  | Nombre
                  span.required(aria-required='true') *
                |           
                input#first-name.required(type='text' name='first_name1' aria-required='true' ng-model="d.first_name" required)
              .col-md-3
                label(for='last-name')
                  | Apellido
                  span.required(aria-required='true') *
                |           
                input#last-name.required(type='text', name='last_name1' aria-required='true' ng-model="d.last_name" required)
              .col-md-3.col-md-offset-3
                label(for='address-1') Dirección 1
                |           
                input#address-1(type='text', name='address1' ng-model="d.address1")
              .col-md-3
                label(for='address-2') Dirección 2
                |           
                input#address-2(type='text', name='address2' ng-model="d.address2")
              .col-md-3.col-md-offset-3.clear-left.col-select
                label(for='country')
                  | País
                  span.required(aria-required='true') *
                |           
                |           
                select#country(ng-model="d.country.iso" name='country' ng-options="country.iso as country.name for country in countries" required)
              .col-md-3
                label(for='zip')
                  | Código Postal
                  span.required(aria-required='true' required) *
                |           
                input#zip.required(type='text', name='zip' aria-required='true' ng-model="d.zip")
              .col-md-3.col-md-offset-3.col-birth-date
                label
                  | Fecha de Nacimiento
                  span.required(aria-required='true') *
                |           
                input#birth-day.required(name='birth_day', type='number', placeholder='DD', maxlength='2' aria-required='true' ng-model="d.birth_day" required)
                |           
                input#birth-month.required(name='birth_month', type='number', placeholder='MM', maxlength='2', aria-required='true' ng-model="d.birth_month" required)
                |           
                input#birth-year.required(name='birth_year', type='number', placeholder='YYYY', maxlength='4' aria-required='true' ng-model="d.birth_year" required)
              .col-md-3
                label(for='city') Ciudad
                |           
                input#city(type='text', name='city' ng-model="d.city")
              .col-md-3.col-md-offset-3.clear-left
                label(for='email-address')
                  | Correo electrónico
                  span.required(aria-required='true') *
                |           
                input#email-address.required(type='email', name='email' aria-required='true' ng-model="d.email" required)
              .col-md-3
                label(for='confirm-email-address')
                  | Verifica tu correo electrónico
                  span.required(aria-required='true') *
                |           
                input#confirm-email-address.required(type='email', name='email1' aria-required='true' ng-model="d.confirm_email" required)
              .col-md-3.col-md-offset-3
                label(for='home-phone') Fono
                |           
                input#home-phone(type='text', name='phone_number' ng-model="d.phone")
              .col-md-3
                label(for='mobile-phone') Móvil
                |           
                input#mobile-phone(type='text', name='cell-phone' ng-model="d.mobile_phone")
              .col-md-3.col-md-offset-3
                label(for='linking-from')
                  | Página que se enlaza desde la URL
                  span.required(aria-required='true') *
                |           
                input#linking-from.required.url(name='linking_from', type='text', aria-required='true' ng-model="d.linking_from" required)
              .col-md-3
                label(for='linking-to')
                  | Página que se enlaza a la dirección URL
                  span.required(aria-required='true') *
                |  
                |           
                input#linking-to.required.url(name='linking_to', type='text', aria-required='true' ng-model="d.linking_to" required)
            .container
              .col-md-10.col-md-offset-1
                span.double-border
            .container
              .col-md-6.col-md-offset-3         
                button.btn.btn-primary(type='submit' ng-disabled="registerForm.$invalid") Enviar
